Workflow LLM/Phase 2.json
{
  "name": "Veille N8N LLM bibli IA",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "0af831b9-532f-43bd-a711-1df0aa6790b0",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"api_key\": \"TAVILY_API_KEY\",\n  \"query\": \"intelligence artificielle big data bibliothèques France 2026\",\n  \"max_results\": 5,\n  \"days\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "730033d0-802b-404f-b7d7-c0ec3584c336",
      "name": "HTTP Request Tavily"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.1-8b-instant\",\n  \"max_tokens\": 2000,\n  \"messages\": [{\"role\": \"user\", \"content\": {{ JSON.stringify($json.prompt) }}}]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        976,
        0
      ],
      "id": "06b9c176-b044-4e9b-84d4-b4e11e80c6d6",
      "name": "HTTP Request Groq"
    },
    {
      "parameters": {
        "jsCode": "const content = $input.first().json.choices[0].message.content;\n\nconst match = content.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error(\"Pas de JSON trouvé\");\n\nconst parsed = JSON.parse(match[0]);\n\nreturn parsed.articles.map(a => ({\n  json: {\n    titre: a.titre,\n    url: a.url,\n    description: a.resume\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        0
      ],
      "id": "518fb020-a7e1-482f-9e9b-b6ee12ee41db",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const couleurs = {\n  \"tendance\": 5814783,        // bleu\n  \"recommandation\": 5763719   // vert\n};\n\nconst emojis = {\n  \"tendance\": \"📊\",\n  \"recommandation\": \"💡\"\n};\n\nreturn {\n  json: {\n    payload: JSON.stringify({\n      embeds: [{\n        title: $input.item.json.titre,\n        url: $input.item.json.url,\n        description: $input.item.json.description,\n        color: 5814783,\n        footer: {\n          text: \"Veille hebdomadaire IA & Big Data — Bibliothèques françaises\"\n        }\n      }]\n    })\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        0
      ],
      "id": "41cfea5c-3bd2-4ef0-8aab-6e29cc60fb60",
      "name": "Payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"api_key\": \"TAVILY_API_KEY\",\n  \"query\": \"big data données bibliothèques SIGB France\",\n  \"max_results\": 5,\n  \"days\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        224
      ],
      "id": "72c724e7-6a0a-4cd6-810a-b707f6120ea1",
      "name": "HTTP Request Tavily1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"api_key\": \"TAVILY_API_KEY\",\n  \"query\": \"IA bibliothèques publiques France actualités\",\n  \"max_results\": 5,\n  \"days\": 7\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        -208
      ],
      "id": "1611d636-abf7-4cfb-b3a2-0b619026f7ea",
      "name": "HTTP Request Tavily2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        -16
      ],
      "id": "83f8327e-2441-44dc-b2ea-7ff959532b36",
      "name": "Merge"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "DISCORD_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.payload }}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 2000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1584,
        0
      ],
      "id": "ff0147d7-e5c4-447c-8385-43659b642439",
      "name": "HTTP Request Discord"
    },
    {
      "parameters": {
        "jsCode": "const allResults = $input.all();\n\nconst articles = allResults\n  .flatMap(item => item.json.results || [])\n  .map(r => `- Titre: ${r.title}\\n  URL: ${r.url}\\n  Contenu: ${r.content}`)\n  .join('\\n\\n');\n\nreturn [{\n  json: {\n    prompt: `Tu es un expert en veille technologique pour les bibliothèques publiques françaises.\n\nVoici des articles trouvés sur internet :\n\n${articles}\n\nSélectionne les 5 articles les plus pertinents pour une veille IA et Big Data en bibliothèque.\nRetourne UNIQUEMENT ce JSON sans texte avant ou après :\n{\"articles\": [{\"titre\": \"...\", \"url\": \"...\", \"resume\": \"résumé en 2 phrases max\"}]}`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ],
      "id": "47ed2b84-3f39-42dd-ad7e-39fc5f0e684a",
      "name": "Prépare le prompt"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2026-03-05T07:30:51.308-05:00",
          "Readable date": "March 5th 2026, 7:30:51 am",
          "Readable time": "7:30:51 am",
          "Day of week": "Thursday",
          "Year": "2026",
          "Month": "March",
          "Day of month": "05",
          "Hour": "07",
          "Minute": "30",
          "Second": "51",
          "Timezone": "Europe/Paris (UTC+01:00)"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request Tavily",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Tavily1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request Tavily2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tavily": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request Groq": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload": {
      "main": [
        [
          {
            "node": "HTTP Request Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tavily2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request Tavily1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Prépare le prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prépare le prompt": {
      "main": [
        [
          {
            "node": "HTTP Request Groq",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f4b4d62c-ce9d-47cc-94a0-a30113458c24",
  "meta": {
    "instanceId": "8047f41c662044a08fdb2ad5808e59842ae874c860b91e8b28ac020035c1fb0e"
  },
  "id": "dkTyptAi5WE4MTxi",
  "tags": []
}
